beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15.1
chardet==3.0.4
click==8.0.4
colorama==0.4.5
Flask==1.1.1
idna==2.8
importlib-metadata==4.8.3
itsdangerous==2.0.1
jieba==0.42.1
Jinja2==3.0.3
lxml==4.9.1
MarkupSafe==2.0.1
requests==2.22.0
selenium==3.141.0
soupsieve==2.3.2.post1
typing-extensions==4.1.1
urllib3==1.25.11
Werkzeug==2.0.3
zipp==3.6.0
xlrd==2.0.1
flask_apscheduler==1.7.0
joblib==1.0.0
scikit-learn==0.24.1
pymysql
pandas
